<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2 class="titulo">Depilación laser</h2>
		</div>
		<div class="col-xs-12 col-sm-7">
			<div class="thumbnail">
				<img src="img/aparatologia/laser3.jpg" class=""/>
			</div>
		</div>
		<div class="col-xs-12">
			<h3>¿Qué es?</h3>

			<div class="caption">
				<ul class="list-unstyled">
					<li>
						<p class="text-justify">
							El láser trabaja en base a foto termólisis, dirigida hacia la melanina. Pigmento que se encuentra en el pelo, entre otros. Generando calor que difunde hacia el folículo, produciendo el daño definitivo en el mismo.
						</p>
					</li>
					<li>
						<p class="text-justify">
							La depilación LASER, es el mejor método para eliminar el exceso de pelo NO deseado, o estéticamente NO aceptado.
						</p>
					</li>
					<li>
						<p class="text-justify">
							Es un tratamiento indoloro, sencillo, seguro, eficaz y definitivo en la gran mayoría de los casos. Útil en ambos sexos, sin limitaciones de edad.
						</p>
					</li>
					<li>
						<p class="text-justify">
							Se puede aplicar en cualquier zona del cuerpo: cara, pecho, axilas, brazos, cavado, piernas, abdomen, espalda, glúteos, etc.
						</p>
					</li>
					<li>
						<p class="text-justify">
							Soluciona problemas de piel como "foliculitis" y "vello encarnado" de ingle, piernas y cara. Al eliminar su agente causal, el PELO.
						</p>
					</li>
					<li>
						<p class="text-justify">
							Puede ser utilizado en mujeres con problemas hormonales (Hirsutismo).
						</p>
					</li>
					<li>
						<p class="text-justify">
							Es un tratamiento médico y como tal debe ser realizado por médicos / profesionales entrenados con tecnología láser.
						</p>
					</li>
				</ul>
			</div>	
		</div>
		<div class="col-xs-12 col-sm-8 col-sm-offset-2">
			<table class="table table-bordered table-hover table-condensed">
		        <thead>
		          <tr>
		            <th class="vacio"></th>
		            <th>Precio Paquete</th>
		            <th>15% Desc.</th>
		            <th>Precio Sesión</th>
		          </tr>
		        </thead>
		        <tbody>
		        <!--comienza-fila -->
		          <tr>
		            <th>{area}</th>
		            <td><a href="../php/carrito.php" class="btn btn-pink" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>{precio-paquete} MXN</a></td>
		            <td><a href="../php/carrito.php" class="btn btn-pink" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> {precio-descuento} MXN</a></td>
		            <td><a href="../php/carrito.php" class="btn btn-pink" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> {precio-sesion} MXN</td>
		          </tr>
		          <!--termina-fila -->
		        </tbody>
		      </table>
		</div>
	</div>
</div>



				





