
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <h3 class="titulo">¿Quiénes sómos?</h3>
                <div class="caption">
                    <p class="text-justify">
                    Sómos una empresa dedicada a la salud y belleza donde tenemos tratamientos faciales, 
                    corporales, terapéuticos, holísticos, nutricionales, etc.
                </p>
                </div>      
            </div>
            <div class="col-xs-12 col-md-4">
                <h3 class="titulo">Nuestra historia</h3>
                <div class="caption">
                    <p class="text-justify">
                        Spa nació de nuestra pasión por la naturaleza y las tradiciones antiguas de bienestar. 
                        Descubre un mundo de relajación, rejuvenecimiento y belleza con nuestro amplio catálogo 
                        de masajes relajantes, exfoliantes y descontracturantes.
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-md-5">
                <h3 class="titulo">Razón de ser</h3>
                <div class="caption">
                    
                    <p class="text-justify">
                        Nuestra misión es proporcionarle tanto al hombre como a la mujer actual las más sofisticadas 
                        terapias de relajación, además de una amplia gama de masajes y tratamientos profesionales 
                        diseñados para elevar la calidad de vida, imagen y autoestima de todas las personas que deseen 
                        darse un tiempo para sí mismas.
                    </p>
                </div>
            </div>
        </div>
    </div>