	<div class="container">
		<!-- empieza -->
		<div class="tarjeta">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="thumbnail">
					<h3 class="titulo">{masaje}</h3>
					<img src="{imagen}" class="imagen-masaje">
					<div class="caption masaje">
						<p class="descripcion">
							{descripcion}
						</p>
					</div>
					<div class="precio-masaje">
						<span class="precio">${precio} MXN</span>
						<a href="{enlace}" class="btn btn-pink" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Quiero uno</a>
					</div>
				</div>
			</div>
		</div>
		<!-- termina -->
	</div>