	<div class="container">
		<!-- empieza -->
			<div class="col-xs-12">
				<div class="">
					<div class="row">
						<div class="col-xs-12 col-md-5">
							<div class="thumbnail">
								<img src="{imagen}" class="imagen-masaje"/>
								<div class="precio-tratamiento">
									<span class="precio">${precio} MXN</span>
									<a href="{enlace}" class="btn btn-pink" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Quiero uno</a>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-md-6">
							<h3 class="titulo">{tratamiento}</h3>
							<div class="caption">
								<p class="text-left">
									{descripcion}
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- termina -->
	</div>