<div class="container">
	<div class="row">
		<!-- empieza -->
		<div class="col-xs-12 col-sm-5">
			<h1 class="titulo">{servicio}</h1>
			<div class="thumbnail">
				<img src="{imagen}" class="imagen-masaje"/>
			</div>
		</div>

		<div class="col-xs-12 col-sm-7">
			<div class="">
				<div class="duracion-masaje">
					<span class="duracion"><i class="fa fa-clock-o"></i> Duración : {duracion} min</span>
				</div>
				<div class="caption descripcion-masaje">
					<p class="descripcion">
						{descripcion}
					</p>
				</div>
			</div>
		</div>

	</div>
	<div class="row">

		<div class="form-group">
			<label for="fecha" class="col-xs-12 col-sm-3 control-label">Selecciona un día :</label>
			<div class="col-xs-12 col-sm-3">
					<input type="text" name="date" id="fecha" class="form-control tcal" value="" />
			</div>
			<label for="fecha" class="col-xs-12 col-sm-3 control-label">Selecciona una hora :</label>
			<div class="col-xs-12 col-sm-3">
				<select id="hora" class="selectpicker form-control" name="hora" data-style="btn-info">
					<option value="9" selected="true">9 a.m. a 10 a.m.</option>
					<option value="10">10 a.m. a 11 a.m.</option>
					<option value="11">11 a.m. a 12 p.m.</option>
					<option value="2">2 p.m. a 3 p.m.</option>
					<option value="3">3 p.m. a 4 p.m.</option>
					<option value="4">4 p.m. a 5 p.m.</option>
					<option value="5">5 p.m. a 6 p.m.</option>
				</select>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="precio-masaje">
			<span class="precio-reserva">Precio : ${precio} MXN</span>
			<hr/>
			<a href="{referencia-carrito}" class="btn btn-pink btn-lg" role="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Agregar al carrito</a>
		</div>
		<!-- termina -->
	</div>
</div>